.bg-1 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -10px -10px;
}

.bg-2 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -147px -10px;
}


.bg-3 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -10px -138px;
}

.bg-4 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -147px -138px;
}

.bg-5 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -284px -10px;
}

.bg-6 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -284px -138px;
}

.bg-9 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -10px -266px;
}

.bg-7 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -147px -266px;
}

.bg-8 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -284px -266px;
}


.bg-10 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -284px -394px;
}

.bg-11 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -10px -394px;
}

.bg-12 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -421px -10px;
}

.bg-13 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -147px -394px;
}

.bg-14 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -421px -138px;
}

.bg-15 {
  width: 117px;
  height: 108px;
  background: url('./logotype-set/css_sprites.png') -421px -266px;
}