.wrap-game {
  position: relative;
  display: none;
  place-items: center;
  grid-auto-rows: 1fr;
  overflow: hidden;
  gap: 10px;
  border: 1px solid darkgray;
  border-radius: 20px;
  margin: 120px auto;
  width: fit-content;
}

.btn-start {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  font-size: 48px;
  font-weight: 600;
  background: rgb(255, 177, 177);
  cursor: pointer;
  transform: rotate(5deg);
  transition: .5s;
}

.btn-start:hover {
  transform: rotate(0deg);
}

.btn {
  zoom: 1;
  cursor: pointer;
  position: relative;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.invert {
  filter: invert(100%);
}